@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bebasNeue;
  src: url("../public/fonts/BebasNeue-Regular.ttf") format("opentype");
}

@font-face {
  font-family: foregen;
  src: url("../public/fonts/foregen.otf") format("opentype");
}

.hamburger-menu-item.active {
  color: white;
  background-color: #AD3405;
}

.hamburger-menu-item.active:hover {
  background-color: #AD3405;
}

.carousel-container.active {
  display: flex;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-indicator.active {
  background-color: #AD3405;
}

#hamburguer-menu.active {
  display: flex;
  height: max-content;
}

.fullscreen-p10 {
  width: calc(100% - 30px);
}
