@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: bebasNeue;
  src: url("../fonts/BebasNeue-Regular.ttf") format("opentype");
}

@font-face {
  font-family: foregen;
  src: url("../fonts/foregen.otf") format("opentype");
}

.carousel-item.active {
  opacity: 1;
}

.carousel-indicator.active {
  background-color: #AD3405;
}

#hamburguer-menu.active {
  height: 200px;
}
